<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/site-banner.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">Evaluating Evaluations</span>
          <span class="skills">We are a researcher community developing scientifically grounded research outputs and robust deployment infrastructure for broader impact evaluations.</span>
        </div>
      </div>
    </div>
  </div>
</header>
