<!-- Portfolio Grid Section -->
<!-- <section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Current Projects</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <h3>Research</h3>
        <ul class="list-unstyled">
          <li>Evaluation Cards</li>
          <li>Benchmark Saturation</li>
          <li>Evaluation Science</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Infrastructure</h3>
        <ul class="list-unstyled">
          <li>Single Data Format and Caching Evaluations</li>
          <li>Evaluation Harness and Tutorials</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Organization</h3>
        <ul class="list-unstyled">
          <li>Community Engagement</li>
          <li>Research Workshops</li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
